body {
	font-family: Arial, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header, h1 {
	background-color: #2255aa;
	color: #fff;
	padding: 2
	text-align: center;
}


form {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	border: 0.5px solid #ccc;
}

fieldset {
	margin-bottom: 30px;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: blue;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	float: right;
}

input[type="submit"]:hover {
	background-color: #45a049;
}
