body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #f5f5f5;
}

html {
	box-sizing: border-box;
}

header, h1, h2 {
	background-color: #2255aa;
	color: #fff;
	text-align: center;
    padding: 10px 0;
    margin-top: 0px;
}

h1 {
    font-size: 2em;
}

h2 {
	margin-top: 30px;
    font-size: 1.5em;
}

form {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
	border: 0.5px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

fieldset {
	margin-bottom: 30px;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
    font-size: 16px;
}

button[type="submit"] {
	background-color: #2255aa;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	float: right;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
	background-color: #1a3f7c;
}

select#type {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    appearance: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
    font-size: 16px;
}

th {
	background-color: #e5e5e5;
	color: #555;
    font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f8f8f8;
}

tr:hover {
	background-color: #ddd;
}

textarea {
	width: 100%;
	height: 100px;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
    font-size: 16px;
}
