<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navtop">
        <!-- <img src="{{url_for('static', filename='190335.png')}}"> -->
        <div>
            <h1>StuCare</h1>
            <a href="">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('ec') }}">Extenuating Circumstance</a>
            <a href="{{ url_for('issues') }}">Issues</a>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>