{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<title>Home - StuCare</title>
{% endblock %}

{% block body %}
    <body cls="loggedin"as>
        <nav class="navtop">
			<div>
				<h1>StuCare</h1>
				<a href="profile.php"><i class="user-cirlce"></i>Profile</a>
				<a href="logout.php"><i class="sign-out-icon"></i>Logout</a>
                <a href=""><i class=></i>Extenuating Circumstance</a>
                <a href=""><i class=></i>Request</a>
			</div>
		</nav>
{% endblock %}