{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
<title>Issues - StuCare</title>
{% endblock %} {% block body %} {% if session['role'] == 'student' %}

<h1>Submit an Issue</h1>
<form method="POST" action="{{ url_for('issues') }}">
  <div>
    <label for="type">Type of issue</label>
    <select name="type" id="type">
      {% for type in types %}
      <option value="{{ type.value }}">{{ type.label }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" required />
  </div>
  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description" required></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
{% elif session['role'] == 'admin' %} {% if issues|default %}
<h1>Issues</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    <tr>
      <td>{{ issue[0] }}</td>
      <td>{{ issue[1] }}</td>
      <td>{{ issue[2] }}</td>
      <td>{{ issue[3] }}</td>
      <td>{{ issue[4] }}</td>
      <td>{{ issue[5] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %} {% endif %} {% else %}
<p>You are logged in as {{ username }}</p>
<p>You don't have privileges to access this page.</p>
{% endif %} {% endblock %}
